/* Main wrapper on this page */
.ddc-about.wrapper {
    grid-row: 1 / 3;
    grid-column: 2 / 5;
    background-color: transparent;
    padding: 5%;
}

/* the canvas on which the ifo is presented */
.ddc-about.info-card {
    width: 80%;
    height: fit-content;
    margin-top: 2%;
    min-height: 440px;
    min-width: 240px;
    border: 1px gray;
    border-style: solid solid solid solid;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    color: black;
    text-align: center;
    justify-items: left;
    align-items: center;
    padding: 10%;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 2rem;
}

/* Back button */
.ddc-about.info-card button {
    width: 70px;
    padding: 3px;
    margin-top: 20px;
    margin-left: 5px;  
}