/* Header/title in Nav and Menu */
.nav {
    position: relative;
    grid-column: 2 / 5;
    grid-row: 1;
    display: flex;
    height: 3.7rem;
    flex-direction: row;
    max-width: 700px;
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #008013;  
}

/* Header/title in Nav and Menu */
.nav.header-text {
    font-size: 1.4rem;
    color: white;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    margin-left: 1rem;
  }
  
/* Image/logo in Nav and Menu */
.nav.logo {
    height: 2.8rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  
/* Push icons to the right */
.nav.push {
    margin-left: auto;
    justify-self: right;
    z-index: inherit;
}
 
/* The search window */
.nav.search-container{
  display: none;
  position: absolute;
  height: fit-content;
  width: 240px;
  justify-self: right;
  margin-top: 40px;
  margin-right: -100px;
  background-color: white;
  font-size: 1.2rem;
  padding: 10px;
  box-shadow: 3px 3px 10px black;
  align-content: center;
  z-index: 99;
}

/* Toggle to show the search window */
.nav.search-container.show{
  display: block;
}

/* The search button */
.navx.search-button {
  width: 70px;
  padding: 3px;
  margin-left: 5px;
}
